In [3]:
a = ("a","b","v","r")
a.index("v")

2

In [5]:
a = ("a","b","v","r","r")
a.count("r")

2

In [7]:
b = reversed(a)
print (tuple(b))

('r', 'r', 'v', 'b', 'a')

In [8]:
b = sorted(a)
print(b)

['a', 'b', 'r', 'r', 'v']

# Set

In [9]:
s = {"athi", "rao", "krish"}
s.add ("balaji")

In [10]:
s

{'athi', 'balaji', 'krish', 'rao'}

In [11]:
s.update("A","B")

In [12]:
s

{'A', 'B', 'athi', 'balaji', 'krish', 'rao'}

In [13]:
s.remove("B")

In [14]:
s

{'A', 'athi', 'balaji', 'krish', 'rao'}

In [15]:
s.remove("b")

KeyError: 'b'

In [16]:
s.discard("b")

In [17]:
s.pop()

'A'

In [23]:
t= s.copy()

In [24]:
t

{'athi', 'balaji', 'krish', 'rao'}

In [25]:
sorted(s)

['athi', 'balaji', 'krish', 'rao']

In [27]:
len(s)

4

In [28]:
min(s)

'athi'

In [29]:
max(s)

'rao'

In [32]:
"athi" in s

True

In [35]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s3 = s1.union(s2)
print(s3)
s4 = s1.intersection(s2)
print(s4)
s5 = s1.difference(s2)
print(s5)
s6 = s1.symmetric_difference(s2)
print(s6)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8, 9}

In [39]:
l1 = [1,3,6,78,35,55]
l2 = [12,24,35,24,88,120,155]
l3= set(l1)
l4 = set(l2)
l5 = l3.intersection(l4)
print(sorted(l5))

[35]

In [41]:
l1 = [12,24,35,24,88,155,88,120,155]
l2 = set(l1)
print(sorted(l2))

[12, 24, 35, 88, 120, 155]

In [55]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = t1[:5]
t3 = t1[5:]
print(t2)
print(t3)
t2 , t3 = t1[:5],t1[5:]
print (t2,t3)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [64]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t3 = []
for i in range(len(t1)):
       if t1[i]%2 == 0:
            t3.append(t1[i])
print(tuple(t3))

(2, 4, 6, 8, 10)

In [68]:
a = 34,67,55,33,12,98
#['34', '67', '55', '33', '12', '98']
#('34', '67', '55', '33', '12', '98')
b = list(a)
print(b)
c = tuple(a)
print(c)



values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)
Input some comma seprated numbers : 34,67,55,33,12,98
List :  ['34', '67', '55', '33', '12', '98']
Tuple :  ('34', '67', '55', '33', '12', '98')

# Dictionary

In [51]:
strs = input("Enter the Name :")
char_count = {}
count = 0
for i in strs:
    print(i)
    for j in strs:
        if (i == j):
            count = count + 1
            char_count[i]=count

Enter the Name :Athi
A
t
h
i

In [52]:
print(char_count)

{'A': 1, 't': 2, 'h': 3, 'i': 4}

In [53]:
strs = input("Enter the Name :")
char_count = {}
count = 0
for i in strs:
    char_count[i]=char_count.get(i,0)+1
print(char_count)

Enter the Name :AthiKrishnarao
{'A': 1, 't': 1, 'h': 2, 'i': 2, 'K': 1, 'r': 2, 's': 1, 'n': 1, 'a': 2, 'o': 1}